.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky {
    background-color: lightblue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color:lightgreen;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}

.bird {
    background-color: khaki;
    width: 60px; 
    height: 45px;
    position: absolute;
}

.obstacle {
    background-color: darkgreen;
    width: 60px;
    height: 300px;
    position: absolute;
}